@use "sass:map";
@import "../../styles/variables";

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: map.get($colors, "green");
    color: map.get($colors, "black");
    padding: 1.125rem;
    border: 0;
    transition: 0.2s background-color;
    font-weight: bold;

    &:hover {
        background-color: map.get($colors, "dark-grey");
        color: map.get($colors, "green");
        padding: 1rem;
        border: 2px solid map.get($colors, "green");
        cursor: pointer;
    }
}

.icon {
    margin-left: 1.5rem;
}
