@use "sass:map";
@import "../../styles/variables";

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: map.get($colors, "dark-grey");
}

.statusWrapper {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.label {
    color: map.get($colors, "light-grey");
}

.rectangleWrapper {
    margin-left: 1rem;
    display: flex;
    gap: 0.5rem;
}

.rectangle {
    width: 0.375rem;
    height: 1.5rem;
    border: 2px solid map.get($colors, "white");
}

.red,
.green,
.orange,
.yellow {
    width: 0.625rem;
    height: 1.75rem;
    border: 0;
}

.red {
    background-color: map.get($colors, "red");
}

.orange {
    background-color: map.get($colors, "orange");
}

.yellow {
    background-color: map.get($colors, "yellow");
}

.green {
    background-color: map.get($colors, "green");
}
