@use "sass:map";
@import "../../styles/variables";
@import "../../styles/mixins";

.form {
    background-color: map.get($colors, "dark-grey");
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include breakpoint-min(map.get($breakpoints, "md")) {
        padding: 1.5rem 2rem 2rem 2rem;
    }
}

.checkboxesWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
