@use "sass:map";
@import "../../styles/variables";
@import "../../styles/mixins.scss";

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: map.get($colors, "dark-grey");

    @include breakpoint-min(map.get($breakpoints, "md")) {
        padding: 1.5rem 2rem;
    }
}

.field {
    &.isEmpty {
        color: map.get($colors, "light-grey");
    }
}

.btnWrapper {
    display: flex;
    gap: 0.5rem;

    @include breakpoint-min(map.get($breakpoints, "sm")) {
        gap: 1rem;
    }

    > span {
        color: map.get($colors, "green");
    }
}

.btn {
    background: transparent;
    border: 0;
    padding: 0;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    color: map.get($colors, "green");
    transition: 0.2s color;
    cursor: pointer;

    &:hover {
        color: map.get($colors, "white");
    }
}
