@use "sass:map";
@import "../styles/variables";

.main {
  display: flex;
  justify-content: center;
  padding: 3rem;
  min-height: 350vh;
  background-color: map.get($colors, "black");
  color: map.get($colors, "white");
}

.content {
  min-width: 28.125rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  color: map.get($colors, "light-grey");
  margin-bottom: 2rem;
  text-align: center;
}
